.screen-wrapper{
width: 100%;
height: 100vh;
display: flex;

}

.sidebar{
width: 10%;
background-image: url(./img/sidebar-bg.png);
background-color:darkcyan;
color: white;
}

.wrapper-main{
    width: 90%;
    display: flex;
    
}

.logo{
    width: 20px;
    height: 20px;
}

