.screen-wrapper{
width: 100%;
display: flex;

}

.sidebar{
width: 7rem;
height: calc(100vh - 3rem);
background-image: url(./img/sidebar-bg.png);
background-color:darkcyan;
color: white;
}

.wrapper-main{
    width: calc(100% - 7rem);
    overflow: auto;
    display: flex;
    height: calc(100vh - 3rem);
}

.logo{
    width: 20px;
    height: 20px;
}

.h-rem{
    height: 3rem;
}

/* ***Hover*** */

tr:hover{
opacity: 0.4;
}


 p:hover {
    background-color: gray;
    opacity: 0.4;
}




/* ***Media quieries*** */

@media screen and (max-width: 1340px) {
    .none{
        display: none;
    }
    .big{
        font-size: 30px;
        margin-left: 1rem;
    }
    .mt-logo{
        display: block;
    }
    
    
}



