

/* ***Wrapper*** */
.screen-wrapper{
width: 100%;
display: flex;

}

.sidebar{
width: 7rem;
height: calc(100vh - 3rem);
background-image: url(./img/sidebar-bg.png);
background-color:darkcyan;
color: white;
}

.wrapper-main{
    width: calc(100% - 7rem);
    overflow: auto;
    display: flex;
    height: calc(100vh - 3rem);
}

/* **Generic** */

.logo{
    width: 20px;
    height: 20px;
}

.h-rem{
    height: 3rem;
}

/* ***Hover*** */

tr:hover{
opacity: 0.4;
}


 .bg-gray:hover {
    background-color: lightgreen;
    opacity: 0.8;
}




/* ***Media quieries*** */



@media screen and (max-width: 990px) {

    .compress{
        display: none;
    }
    .none{
        display: none;
    }
    .big{
        font-size: 30px;
        margin-left: 1rem;
    }
    .sidebar{
        width: 5rem;
    }
    .wrapper-main{
        width: calc(100% - 5rem);
    }
    
    
}

@media screen and (min-width: 990px){
    .none-2{
        display: none;
    }
}


@media screen and (max-width: 812px) {
    .none-mobile{
        display: none;
    }
    .order1{
        order: -1;
    }
    
}



